DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
TMDB_API_KEY=""
ADMIN_PASSWORD=""
SERVER_ACTIONS_ALLOWED_ORIGINS="14kmovie.com,www.14kmovie.com"
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=""
